<div class="container">
  <mat-toolbar style="background-color: #006239">
    <mat-toolbar-row>
      <div class="row">
        <mat-icon class="logo small">
          admin_panel_settings
        </mat-icon>
        <span>EasyRLS</span>
      </div>
      <span class="spacer"></span>
      <div class="row">
        <button mat-flat-button [style.color]=" openAIAPIKey?'green':'#DF9209FF'" [matMenuTriggerFor]="menu">
          {{ openAIAPIKey ? 'Open AI API key is set' : 'Set your Open AI API Key' }}
          <mat-icon>key</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container
    class="sidenav-container">
    <mat-sidenav-content class="sidenav-content">
      @if (!!schema) {
        <app-roles class="roles" [tables]="getTableNamesFromPrimaryKeys(schema)" (clearEvent)="this.schema=undefined"
                   (generateEvent)="generateRLS($event)" (deleteTableEvent)="deleteTable($event)"></app-roles>
        <div class="generated-rls">
          <ngx-monaco-editor class="generated-rls-editor" [options]="editorOptions"
                             [(ngModel)]="sqlResponse"></ngx-monaco-editor>
        </div>
      } @else {
        <mat-card class="setup">
          <div class="logo-section">
            <mat-icon class="logo">
              admin_panel_settings
            </mat-icon>
          </div>
          <mat-card-header>

            <mat-card-title>EasyRLS</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 100%">
            <ol>
              <li>
                <p>
                  EasyRLS is a tool to help you create RLS policies with ease.
                </p>
              </li>
              <li>
                <p>
                  <button mat-button (click)="clipboard.copy(SchemaQuery)">
                    Click here
                  </button>
                  to copy this SQL query into your database to get a simplified version of the schema as JSON containing
                  primary keys and relations between tables in your public schema.
                </p>
              </li>
              <li>
                <p>Once you run the query, paste the result in the editor below.</p>
              </li>
            </ol>
            <ngx-monaco-editor class="schema-query" [options]="editorOptions"
                               [(ngModel)]="userSchema"></ngx-monaco-editor>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="validateAndContinue()">Validate and Continue</button>
          </mat-card-actions>
        </mat-card>
      }

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<mat-menu #menu="matMenu">
  <div style="display: flex;flex-direction: column; align-items: center;padding: 20px;gap: 10px">
    <div style="color: white">
      <mat-label style="font-size: 25px">API Key</mat-label>
      <p> Set your OpenAI API key. You can grab it <a target="_blank" style="color:#006239 "
                                                      href="https://platform.openai.com/account/api-keys">here</a>.</p>
    </div>

    <mat-form-field class="role" (click)="$event.stopPropagation()">
      <mat-label>Role</mat-label>
      <input #input matInput/>
      <mat-icon matSuffix>key</mat-icon>
    </mat-form-field>
    <button mat-flat-button style="width: 100%" (click)="setOpenAIKey(input.value)">
      <span>Submit</span>
    </button>
  </div>
</mat-menu>
